{% extends "blog/base.html" %}
{% block content %}
    <h1>Blog do Paulo Home!</h1>
    <p>This is the home page of my blog.</p>

    {% for post in posts%} 
        <article class="media content-section">
            <!-- acrescentar imagem do autor -->
            <img class = "rounded-circle article-img" src = "{{ post.author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"Y F d, D, H:i e"}}</small> <!-- Documentação sobre formato de datas: https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#date  -->
                </div>
                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
        <!-- <p> random number: {{post.random_number}}</p> -->
    {% endfor %}
{% endblock content %}