{% extends "blog/base.html" %}
{% block content %}
    <h1 class="mb-3">Posts by {{ view.kwargs.username }}</h1>
    <p>This is the page for posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }} posts).</p>

    {% for post in posts%} 
        <article class="media content-section">
            <!-- acrescentar imagem do autor -->
            <img class = "rounded-circle article-img" src = "{{ post.author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"Y F d, D, H:i e"}}</small> <!-- Documentação sobre formato de datas: https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#date  -->
                </div>
                <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
        <!-- <p> random number: {{post.random_number}}</p> -->
    {% endfor %}
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class = "btn btn-outline-info mb-4" href="?page=1">First</a> <!--  Starting on the first page -->
            <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a> <!--  Going to the previous page -->
        {% endif %}

        
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class = "btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a> <!-- Highlighting the current page -->
            {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %} <!-- Line on the original code, but it was not working as expected, so it was changed it to the line below --></page_obj.number>
                <a class = "btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a> <!-- Showing a range of pages around the current page -->
            {% endif %}
        {% endfor %}
        

        {% if page_obj.has_next %}
            <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a> <!--  Going to the next page -->
            <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a> <!--  Going to the last page -->
        {% endif %}

    {% endif %}
{% endblock content %}